.App {
  display: flex;
  height: 100vh;
  min-height: 400px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-color: #22292c;
}

.App-header {
  margin: auto;
  letter-spacing: 1px;
}

.App-title {
  font-size: 1.6em;
  margin-top: 50px;
  color: #fff;
}

.App-title a {
  text-decoration: none;
  color: lightblue;
}

.App-title a:hover {
  text-decoration: underline;
}

.App-subtitle {
  font-size: 0.8em;
  color: #fff;
}
